<!-- <div class="page__footer-follow">
  <ul class="social-icons">
    {% if site.data.ui-text[site.locale].follow_label %}
      <li><strong>{{ site.data.ui-text[site.locale].follow_label }}</strong></li>
    {% endif %}

    {% if site.footer.links %}
      {% for link in site.footer.links %}
        {% if link.label and link.url %}
          <li><a href="{{ link.url }}" rel="nofollow noopener noreferrer"><i class="{{ link.icon | default: 'fas fa-link' }}" aria-hidden="true"></i> {{ link.label }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}

    {% unless site.atom_feed.hide %}
      <li><a href="{% if site.atom_feed.path %}{{ site.atom_feed.path }}{% else %}{{ '/feed.xml' | relative_url }}{% endif %}"><i class="fas fa-fw fa-rss-square" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].feed_label | default: "Feed" }}</a></li>
    {% endunless %}
  </ul>
</div> -->

<div class="page__footer-copyright"> Copyright &copy; {{ site.time | date: '%Y' }} 이곳의 모든 저작권은 {{ site.name | default: site.title }}에게 있습니다.</div>
<div class="page__footer-copyright">무차별적으로 보내지는 메일을 차단하기 위해, 본 웹사이트에 게시된 이메일 주소가 
  전자우편 수집 프로그램이나 그 밖의 기술적으로 장치를 이용하여 무단으로 수집되는 
  것을 거부하며, 이를 위반시 정보통신망법에 의해 형사처벌됨을 유념하시기 바랍니다.</div>